<h1><%= @task.title %></h1>
<h2><%= @task.details %></h2>

<%= link_to "Update task", edit_path(@task) %>
<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>